<!DOCTYPE html>
    <head>
        <title>Competencia_004</title>
        <style>
            ul {
                color:orange
            }
            li{
                color:brown
            }
            body{
                background-color: beige;
            }
            h1{
                color: black;
            }
        </style>
    </head>
    <body>
        <H1>Antonio CV</H1>
        <ul>
            <li>{{ nombres }} {{ Primer_apellido }} {{ Segundo Apellido }}</li>
            <li>{{ fecha_nacimiento }}</li>
            <li>{{ celular }}</li>
            <li>{{ correo }}</li>
            <li>{{ domicilio }}</li>
            <li>{{ genero }}</li>
            <li>{{ objetivo }}</li>
            <li>{{ salario_esperado }}</li>
        </ul>
        <p>Con la experencia que he tomado he desarrollado habilidades para realizar mi trabajo, please find below</p>
        <ul>
            <li>{{ skills }}</li>
        </ul>
        <p>Esta es mi experencia en las diferentes empresas donde he estado</p>
        <ul>
            <li>{{lugar_trabajo}}</li>
            <li>{{año_inicio}}</li>
            <li>{{año_fin}}</li>
            <li>{{puesto}}</li>
            <li>{{lugar_trabajo1}}</li>
            <li>{{año_inicio1}}</li>
            <li>{{año_fin1}}</li>
            <li>{{puesto1}}</li>
        </ul>
    </body>
</html>






